DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=demo.schoolsoft.online,view.schoolsoft.online,109.207.79.50,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://view.schoolsoft.online,http://view.schoolsoft.online,https://demo.schoolsoft.online,http://demo.schoolsoft.online
CSRF_TRUSTED_ORIGINS=https://demo.schoolsoft.online,https://view.schoolsoft.online,http://demo.schoolsoft.online,http://view.schoolsoft.online
